.padre{
	border: 1px solid #ccccb3;
	width: 75%;
}
.one{
	background-color: yellow;
}
.two{
	background-color: #1a75ff;
}
.tres{
	background-color: #ff3399;	
}
.one, .two, .tres{
	width: 25%;
	height: 100px;
}